/* navbar.component.css */
.navbar {
    background-color: rgb(255, 255, 255);
    color: #1c5692;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    flex-wrap: wrap;
}

.navbar a {
    background: none;
    border: none;
    font-size: 20px;
    padding: 0px 20px;
    color: #1c5692;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    text-decoration: none;
}

.navbar a:hover {
    color: #e29e0c;
}

.navbar a:focus {
    outline: none;
}

.active {
    color: #e29e0c !important;
}

/* Tablet */
@media screen and (max-width: 1024px) {
    .navbar {
        gap: 100px;
    }

    .navbar a {
        font-size: 18px;
        padding: 0px 15px;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .navbar {
        gap: 30px;
        padding: 12px 10px;
    }

    .navbar a {
        font-size: 16px;
        padding: 8px 12px;
    }
}

/* Mobile pequeno */
@media screen and (max-width: 480px) {
    .navbar {
        gap: 15px;
        padding: 10px 5px;
    }

    .navbar a {
        font-size: 14px;
        padding: 6px 10px;
    }
}
