<header class="app-header">
  <div class="header-brand" [routerLink]="'/home'" role="button" tabindex="0">
    <div class="brand-icon">$</div>
    <div class="brand-text">
      <span class="brand-name">Cotação Dólar</span>
      <span class="brand-sub">Tempo Real</span>
    </div>
  </div>

  <div class="header-rate">
    <div class="rate-label">
      <span class="live-dot"></span>
      Cotação Atual
    </div>
    <div class="rate-value" *ngIf="cotacaoAtual; else loading">
      {{ cotacaoAtual.preco | currency:'BRL':'symbol':'1.2-2' }}
    </div>
    <ng-template #loading>
      <div class="rate-loading">Carregando...</div>
    </ng-template>
  </div>
</header>
