.home-card {
    background-color: #1c5692;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 1000px;
    margin-top: 60px;
    margin: 10px auto;
    text-align: center;
    color: white;
  }
  